<h1>Eat-Da-Burger!</h1>

  <div class="row">

    <div class="col-md-4">

      <h4>BURGERS TO DEVOUR!</h4>

        <ul class="list-group">

        {{#each burgers}}
          {{#unless this.devoured}}

          <li class="list-group-item">

            <div class="input-group">

              <p> {{this.burger_name}} </p>

              <span class="input-group-btn">

                <form action="/{{this.id}}?_method=PUT" method="POST">
                  <input type="hidden" name="devoured" value="true">
                  <button class="btn btn-default btn-sm" type="submit"> Devour It! </button>
                </form>
              
              </span>
            
            </div>
          
          </li>

          {{/unless}}
        {{/each}}

      </ul>

    </div>

    <div class="col-md-4">

      <h4>DEVOURED! YUM!</h4>

      <div class="panel panel-default">

        <ul class="list-group">

        {{#each burgers}}
          {{#if this.devoured}}

          <li class="list-group-item">

            <p>{{this.burger_name}} </p>

          </li>

          {{/if}}
        {{/each}}

        </ul>

      </div>

    </div>


  <div class="row">

  <div class="col-md-8">

    <p> Enter the name of the burger you want to eat and click submit! </p>

    <form class="create-update-form" action="/" method="POST">

      <div class="form-group">
        <textarea class="form-control input-md" type="text" name="name" rows="3"> </textarea>
      </div>

      <button class="btn btn-default btn-lg" type="submit">Add Burger!</button>
    </form>

  </div>

  </div>
